article{
  color:$db;
  line-height: 40px;
  padding:10px;
  > ul, > div{
    background-size:10px 10px;
    padding: 20px;
  }
  > ul, > .content-box{
    background-image:linear-gradient(135deg, transparent 46%, $lb 46%, $lb 54%, transparent 54%);
  }
  > .img-box{
    background-image:linear-gradient(45deg, transparent 46%, $lb 46%, $lb 54%, transparent 54%);
  }
  > ul ~ div{margin-top:10px;}
  li{
    background-image:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    padding:0 12px;
    + li{margin-top:20px;}
  }
  img{
    width: 100%;
    max-width:300px;
    display: block;
    margin:0 auto;
  }
  > .content-box{
    > p{
      text-shadow:0 1px 2px #fff;
      background-color:rgba(255,255,255,0.6);
      padding: 10px;
      margin:0;
    }
  }
}
@media screen and (min-width: 768px){
  article{
    padding:15px;
    > .div{padding:30px;}
    > .content-box > p{padding:0 10px;}
    > ul{
      display:flex;
      flex-wrap:wrap;
      justify-content:space-evenly;
      padding:15px 0;
    }
    li{
      text-align:center;
      background-image:linear-gradient(0deg, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.3) 100%);
      flex:0 0 200px;
      box-shadow: 1px 1px 3px 1px rgba($db, .6),
                  1px 1px 1px 1px rgba(255,255,255,.6) inset;
      margin:15px 0;
      + li{margin-top:15px;}
    }
  }
}
@media screen and (min-width: 1024px){
  article{
    li + li{margin-left:30px;}
  }
}